.card
  .card-body.relative
    .card-header.flex.-rotate-12.absolute
      %h1.text-5xl.comic Nivel
      = image_tag "level_#{@level.number}.svg", class: "ml-2 icon"
    .con
      = render "form", question: @question