@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body{
    color: #4c5960;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
  }

  .bg-gradient {
    background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(226,238,236,1) 36%, rgba(226,238,236,1) 63%, rgba(226,238,236,1) 89%);
    @apply bg-no-repeat;
  }

  .btn {
    @apply border-none rounded w-full text-lg p-3 my-5 mx-0 text-white cursor-pointer;
  }

  .btn-primary {
    @apply py-2 px-4 bg-primary;
  }

  .btn-secondary {
    @apply py-2 px-4 bg-secondary rounded-xl text-white;
  }

  .card {
    @apply p-5 h-full relative rounded-xl bg-[#5111A5] border-neutral-900 border-2;
  }

  .card-body {
    @apply px-5 py-3 h-full rounded-xl bg-neutral-1;
    background-image: url('paper.png');
  }

  .card-header {
    @apply py-6 text-neutral-3 font-bold text-2xl;
  }

  .card-body {
    @apply pt-4 pb-6;
  }

  .r-shadow {
    box-shadow: 0 0 0.5rem 0.25rem rgb(224, 224, 224);
  }

  .wrapper {
    background-color: rgb(226 238 236 / 45%);
    box-shadow: 0 0 10px rgba(226,238,236,1);
    @apply m-auto p-10 rounded absolute top-0 left-0 right-0 bottom-0 w-[500px] ;
  }

  .wrapper:before {
    background-image: url('bg-bird.jpg');
    content: '';
    filter: blur(6px);
    @apply w-full h-full bg-cover fixed top-0 left-0 right-0 bottom-0 -z-10;
  }

  .wrapper .header-text {
    @apply text-3xl font-bold my-6 text-center text-neutral-3;
  }

  .wrapper input {
    margin: 0.7rem 0 !important;
    @apply mx-0 border-none p-3 rounded-2xl w-full text-base;
  }

  .wrapper input[type=checkbox] {
    @apply hidden;
  }

  .wrapper label {
    @apply relative ml-1 mr-1 top-1 inline-block w-5 h-5 cursor-pointer;
  }

  .wrapper label span {
    @apply absolute top-0 left-6;
  }

  .wrapper label:before {
    content: '';
    background-color: #ddd;
    @apply inline-block w-5 h-5 rounded absolute left-0 bottom-1;
  }

  .wrapper input[type=checkbox]:checked + label:before {
    content: '\2713';
    color: #262626;
    @apply text-xl text-center leading-5;
  }

  .wrapper input[type=radiobutton]:checked + label:before {
    content: '\2713';
    color: #262626;
    @apply text-xl text-center leading-5;
  }

  .labelr {
    text-align: start;
    font-size: 14px;
  }

  .labelrb {
    text-align: start;
    font-size: 14px;
  }

  .labelr label:before{
    content: '' !important;
    display: none !important;
  }

  .select {
    width: 26rem;
    border-radius: 15px;
  }

  .wrapper span {
    @apply text-sm;
  }

  .wrapper a {
    @apply decoration-1 underline text-white hover:text-primary;
  }

  .cursive {
    font-family: 'Nabla', cursive;
  }

  .comic {
    font-family: 'Nerko One', cursive;
  }

  .navbar {
    @apply
    w-[1200px]
    bg-orange-200
    rounded-xl
    mt-3
    p-3
    m-auto
    border-2 border-neutral-900;
  }

  .inner-navbar {
    @apply
    p-2
    flex
    items-center
    justify-between
    rounded-xl
    bg-gradient-to-r from-red-500 to-yellow-100;
  }

  .icon {
    @apply w-10;
  }

  .link {
    @apply flex flex-col items-center p-2 rounded-xl hover:bg-blue-200 cursor-pointer justify-between transition-all duration-500;
  }

  .link-2 {
    @apply flex flex-col items-center p-2 rounded-xl hover:bg-orange-300 cursor-pointer justify-between transition-all duration-500;
  }

  .con {
    @apply w-9/12 m-auto;
  }

  .text-question {
    @apply px-8 text-justify;
  }

  .text-question span {
    @apply block pb-4;
  }

  .text-question span:first-child {
    @apply font-bold text-4xl;
  }

  .question-level span{
    @apply block pb-2 text-center font-normal;
  }

  .text-source {
    @apply text-sm font-light text-end;
  }

  .text-source a {
    @apply text-blue-500 underline;
  }

  .image-source {
    @apply text-sm font-light text-end;
  }

  .image-source a {
    @apply text-blue-500 underline;
  }

  .question-option {
    @apply grid grid-cols-4;
  }

  .question-option div {
    @apply border p-5;
  }

  .question-option span {
    @apply block pb-4;
  }

  /* .question-option span:first-child {
    @apply font-semibold;
  } */

  .img-presentation {
    position: absolute;
    width: 35rem;
    opacity: 0.13;
    left: 30%;
    right: 30%;
    bottom: 10%;
  }

  .img-justification {
    position: absolute;
    opacity: 0.13;
    left: 30%;
    right: 30%;
  }

  .img-justification img {
    width: 40rem;
  }

  .lyrics div {
    text-align: center !important;
    column-count: 3;
  }

  .lyrics h1:first-child {
    text-align: center;
    @apply my-5 text-2xl text-neutral-3 font-bold;
  }

  .lyrics p {
    @apply mb-4;
  }

  .lyrics span {
    display: block;
  }

  #alcaravan {
    transition: all ease-in-out 5s;
  }

  #results {
    transition: all ease-in-out 3s;
  }

  .vanish {
    opacity: 0;
    padding: 0 !important;
    margin: 0 !important;
  }

  .shrink {
    height: 25%;
  }

  #display-results {
    transition: all ease-in-out 1s;
  }
  .comment {
    @apply bg-yellow-100 p-5 mx-12 rounded-xl border-2 border-neutral-900 hover:bg-yellow-200;
  }

  .hidden-form-comment{
    display: none;
  }

  .comment-content {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .comment-area {
    @apply
    bg-yellow-100
    hover:bg-yellow-200
    min-h-[75px];
  }

  .wave {
    width: 30px;
  }

  .class-number {
    @apply absolute top-0 left-[57%] rotate-12 -z-0;
  }
}
